html, body{
    height: 100%;
    background-image: url(https://cdn.mos.cms.futurecdn.net/UaFHfuw2M8HeVwQ8guon54-768-80.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1, p {
    color:white;
}
.container-fluid{
    background-color: rgba(0,0,0, 0.4);
}
hr{
    color:whitesmoke;
    border: 5px solid;
    border-radius: 10px;
    width: 25px;
}



